.env
.venv/
venv/
Description/
Tracking_Label/
图片/
.DS_Store
.idea/
__pycache__/
*.pyc
image.png
Demo/
Store_arrangement/
persist_directory/
Pingpin.dc.html


dbt_duckdb_project/target/
dbt_duckdb_project/dbt_packages/
dbt_duckdb_project/logs/

logs/
*.duckdb
*.duckdb.wal
dbt_duckdb_project/test.db
dbt_duckdb_project/_stray_duckdb_backups/
dbt_duckdb_project/__pycache__/
